body {
    background-color: #e4e6da;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    align-content: center;
}

#inner-body {
    text-align: center;
    background-color: #ffff;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.sign-text {
    font-size: 28px;
    font-weight: 600;
}

#chat-rooms-list {
    list-style: none;
    display: inline;
}

#chat-room {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #213d2e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* #add-room {
    background-color: #38664d;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}

#add-room:hover {
    background-color: #213d2e;
} */

.add-room-class {
    background-color: #38664d;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}

.add-room-class:hover {
    background-color: #213d2e;
}

#header-chat-list {
    display: flex;
    height: 60px;
    align-items: center;
}

#back-btn {
    margin: 10px 10px 10px 10px;
    background-color: #709e7f;
    box-shadow: 2px 2px 4px #38664d;
    color: white;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-radius: 5px;
}

#back-btn:hover {
    background-color: #38664d;
}