body {
    background-color: #e4e6da;
}

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    align-content: center;
}

#inner-body {
    text-align: center;
    background-color: #ffff;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.sign-text {
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
}

.input-container {
    padding: 10px 0px 20px 0px;
}

input {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #999999;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-btn {
    margin: 10px 10px 10px 10px;
    background-color: #38664d;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px; 
}

.form-btn:hover {
    background-color: #213d2e;
}