* {
    box-sizing: border-box; /*makes padding and borders sizes included in the width and height*/
}

/* #inner-body {
    max-width: 600px;
    width: 100%;
    background-color: #b0dbc3;
    padding: 5px;
}

body {
    display: flex;
    justify-content: center;
} */

body {
    background-color: #e4e6da;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    align-content: center;
}

#inner-body {
    text-align: center;
    background-color: #ffff;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#nav {
    display: flex;
    gap: 15px;
    height: 60px;
    padding: 10px;
    background-color: #e4e6da;
    border-radius: 5px;
}

#nav > * {
    flex: 1;
}

#nav > .flex0 {
    flex: 0;
}

#notification {
    display: flex;
}

#notification-number {
    color: #213d2e;
    font-size: 20px;
    text-shadow: 2px 2px 4px #213d2e;
}

.hidden {
    display: none;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #38664d;
    color: white;
    border: none;
    box-shadow: 2px 2px 4px #213d2e;
    cursor: pointer;
}

.icon-btn:hover {
    box-shadow: 2px 2px 8px #213d2e;
}

#create-btn {
    display: block;
}

#user-name {
    margin: 0; /*by default is 18...*/
}

#modal-container-create-room {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



#modal-container-invite {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #e4e6da;
    box-shadow: 2px 2px 4px #213d2e;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 30%;
}

/* .close {
    color: #38664d;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

#white {
    color: white;
}
  
.dropdown-content {
    margin: 5px 5px 5px 5px;
    display: none;
    position: fixed;
    background-color: #38664d;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    /* overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
}

.dropdown-content ul {
    list-style: none;
    display: inline;
}
  
.dropdown-content li {
    color: black;
    /* text-decoration: none; */
    display: block;
}
  
.dropdown li:hover {
    background-color: #e4e6da;
}

#chat-rooms {
    display: block;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border: 2px solid #213d2e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#chat-rooms:hover {
    background-color: #e4e6da;
}

#room-new-massage {
    float: right;
    color: #213d2e;
}

#main {
    padding: 5px;
}

#chat-rooms-list {
    list-style: none;
    display: inline;
}

.logout-btn {
    margin: 2px 2px 2px 2px;
    background-color: #38664d;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #213d2e;
}

#chat-room {
    text-decoration: none;
    color: #213d2e;
    font-size: 20px;
}

#all-rooms {
    margin: 2px 2px 2px 2px;
    background-color: #38664d;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

#all-rooms:hover {
    background-color: #213d2e;
}

#invite-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#create-room-name {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #999999;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #e4e6da;
}

#new-room-btn {
    margin: 10px 10px 10px 10px;
    background-color: #38664d;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px; 
}

#new-room-btn:hover {
    background-color: #213d2e;
}

.accept-decline-btn {
    margin: 10px 10px 10px 10px;
    background-color: #38664d;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px; 
}

.accept-decline-btn:hover {
    background-color: #213d2e;
}